/* Font Family Import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap");

/* Basic CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
}

/************************************** Banner Area **************************************/
/************************************** Banner Area **************************************/
.nav-header {
  height: 715px;
  background-color: #fffbf0;
}

.header-logo img {
  width: 291.11px;
  height: 39.27px;
}

.banner-content h1 {
  font-family: Bebas Neue;
  font-size: 80px;
  line-height: 96px;
}

.banner-content p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 26px;
  width: 357px;
}

.btn-success {
  background-image: linear-gradient(#a4bc46, #85a019);
  border: 0px;
}

/************************************** Product Area **************************************/
/************************************** Product Area **************************************/
.card {
  border-radius: 18px;
}

.rounded-img {
  border-radius: 18px;
}

.product-heading h2 {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
}

.card-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #363958;
}

.card-text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 26px;
  color: #3e3e3e;
}

.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #fabe4c;
}

/************************************** Quick View **************************************/
/************************************** Quick View **************************************/
.quick-view {
  margin: 105px 0px 85px 0px !important;
}
.image-group {
  width: 50%;
}

.icon-with-text-group {
  width: 50%;
}

.icon-img img {
  width: 78px;
  height: 82px;
}

.icon-info h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #363958;
}

.icon-info p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 26px;
  color: #3e3e3e;
  width: 276px;
}

@media only screen and (max-width: 480px) {
  .header-logo img {
    width: 192.75px;
    height: 26px;
  }
  .banner-content h1 {
    font-family: Bebas Neue;
    font-size: 60px;
    line-height: 72px;
  }

  .image-group {
    width: 100%;
  }

  .icon-with-text-group {
    width: 100%;
  }
}
